@font-face {
  font-family: "Metal Mania";
  src: url("fonts/Metal_Mania/MetalMania-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
.nav {
  font-family: "Metal Mania";
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.445);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("images/bg-head.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-weight: normal;
  color: #fff;
}

.band-name-large {
  font-size: 5em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
}
